body {
	display: flex;
	font-family: monospace;
	background-color: white;

}

.tittle {
	margin-top: 20px;
}

.imagen-header {
	margin-top: 20px;
}


.game-board {
	text-align: center;
	background-color: burlywood;
	border: 1px solid black;
	border-radius: 20px;
	padding: 20px;
}


#play {
	margin-top: 20px;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
}

.board {
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
}

.choice {
	text-align: center;
}


#results {
	margin-top: 20px;
	font-size: 30px;
	font-weight: bold;
}

#score {
	margin-top: 20px;
	font-size: 30px;
	font-weight: bold;
}

.user-choice {
	width: 180px;
	height: 180px;
	object-fit: contain;
}

.choice img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}
.info{
	gap: 10px 10px;
}